
$background: #1F1F1F;
$primarycolor: #9C0010;
$primarycolor_accentdark: #73000B;
$primarycolor_accentlight: #FFB5BD;
$primarycolor_light: #FFFFFF;


body {
	background-color: $background;
	font-size: .9em;
}

//This is to put the trash glyphicon over the image of the poster (hopefully)
.poster {
   position: relative;
}

.poster .glyphicon {
   position: absolute;
   top: 20px;
   right: 20px;
   color: white;
   background-color: rgba(0,0,0,0.75);
   border-radius: 25%;
}

//This is to try and get my radio buttons only to display glyphs
input[type=radio] {
  display: none;
  /* visibility: hidden; */
}

/*
Login/Sign up: splash page styling
*/

#splash-login {
	width: 50%;
	input: 300px;
	margin: 0 auto;
	position: relative;
	top: 100px;

	h1 {
		color: $primarycolor_light;
		text-transform: uppercase;
		// font-size: 3em;
		letter-spacing: 4px;
		text-shadow: 3px 4px $primarycolor_accentdark;
		text-align: center;
		margin-bottom: 50px;
	}

	input {
		margin-bottom: 30px;
	}

	.signin-clickers {
		width: 100%;

		button {
			width: 48%;
			background-color: $background;
			text-transform: uppercase;
			margin: 0;
			// margin: 0 auto;

		}
		.btn:hover {
			color: $primarycolor_accentlight;
		}
	}

}




/*
Navigation Styling
*/

.navbar {
	border: none;
	border-radius: 0px;
	background-color: $primarycolor;
	color: $primarycolor_light;
	width: 100%;
}

.navbar-brand {
	margin-right: 50px;
}

.navbar-default .navbar-brand {
	color: $primarycolor_light;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .99rem;
}

.navbar-btn {
	background-color: $primarycolor_accentdark;
	border: none;
	margin-left: 20px;
	padding-right: 15px;
	padding-left: 15px;
	color: $primarycolor_light;
	letter-spacing: 2px;
}

#logout-button {
	margin-right: 15px;
	// background-color: $primarycolor;
}


/*
Filter Styling
*/

.btn-default {
	background-color: $primarycolor;
	border: none;
	margin-left: 20px;
	padding-right: 15px;
	padding-left: 15px;
	color: $primarycolor_light;
	letter-spacing: 2px;
}

/*
Movie poster styling
*/

.poster {
  position: relative;
}

img {
  width: 100%;
}

.poster .glyphicon {
  position: absolute;
  top: 5px;
  right: 5px; }

input[type=radio] {
  display: none;
  /* visibility: hidden; */
}

