
$background: #1F1F1F;
$primarycolor: #9C0010;
$primarycolor_accentdark: #73000B;
$primarycolor_accentlight: #FFB5BD;
$primarycolor_light: #FFFFFF;


body {
	background-color: $background;
	font-size: .9em;
}

/*
Login/Sign up: splash page styling
*/

#splash-login {
	width: 50%;
	input: 300px;
	margin: 0 auto;
	position: relative;
	top: 100px;

	h1 {
		color: $primarycolor_light;
		text-transform: uppercase;
		// font-size: 3em;
		letter-spacing: 4px;
		text-shadow: 3px 4px $primarycolor_accentdark;
		text-align: center;
		margin-bottom: 50px;
	}

	input {
		margin-bottom: 30px;
	}

	.signin-clickers {
		width: 100%;

		button {
			width: 48%;
			background-color: $background;
			text-transform: uppercase;
			margin: 0;
			// margin: 0 auto;

		}
		.btn:hover {
			color: $primarycolor_accentlight;
		}
	}

}




/*
Navigation Styling
*/

.navbar {
	border: none;
	border-radius: 0px;
	background-color: $primarycolor;
	color: $primarycolor_light;
	width: 100%;
}

.navbar-brand {
	margin-right: 50px;
}

.navbar-default .navbar-brand {
	color: $primarycolor_light;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .99rem;
}

.navbar-btn {
	background-color: $primarycolor_accentdark;
	border: none;
	margin-left: 20px;
	padding-right: 15px;
	padding-left: 15px;
	color: $primarycolor_light;
	letter-spacing: 2px;
}

#logout-button {
	margin-right: 15px;
}

.modal-body input {
	width: 100%;
	font-size: 1.6em;
}


/*
Filter Styling
*/

.btn-default {
	background-color: $primarycolor;
	border: none;
	margin-left: 20px;
	padding-right: 15px;
	padding-left: 15px;
	color: $primarycolor_light;
	letter-spacing: 2px;
}

.btn:focus, .btn:hover, .btn-default:focus, .btn-default:hover {
	color: $primarycolor_light;
}

.btn-default:focus, .btn-default:hover {
	color: $primarycolor_light;
	background-color: $primarycolor_accentdark;
}

/*
Movie poster styling
*/

.poster-display-unit {
	margin-top: 20px;
	height: 350px;
	// width: 212px;

	.poster {
		margin-bottom: 10px;
		position: relative;
	}

}
.poster-display-unit :not(:first-child) {
	float: right;
	opacity: .9;
	font-size: .9em;
	text-transform: uppercase;
}

//This is to put the trash glyphicon over the image of the poster (hopefully)
.poster {
   position: relative;
}

.poster .glyphicon {
   position: absolute;
   top: 20px;
   right: 20px;
   color: white;
   background-color: rgba(0,0,0,0.75);
   border-radius: 25%;
   font-size: 1.5em;
}

input[type=radio] {
  display: none;
  /* visibility: hidden; */
}

//This is to try and hide any buttons for movies already watched { Noice! - Andri }
button[watched="true"] {
  display: none;
}

div[watched="false"] {
  display: none;
}

