
$background: #1F1F1F;
$primarycolor: #9C0010;
$primarycolor_accentdark: #73000B;
$primarycolor_accentlight: #FFB5BD;
$primarycolor_light: #FFFFFF;


body {
	background-color: $background;
	font-size: .9em;
}

/*
Login/Sign up: splash page styling
*/

#splash-login {
	width: 50%;
	input: 300px;
	margin: 0 auto;
	position: relative;
	top: 100px;

	h1 {
		color: $primarycolor_light;
		text-transform: uppercase;
		letter-spacing: 4px;
		text-shadow: 3px 4px $primarycolor_accentdark;
		text-align: center;
		margin-bottom: 50px;
	}

	input {
		margin-bottom: 30px;
	}

	.signin-clickers {
		width: 100%;

		button {
			width: 48%;
			background-color: $background;
			text-transform: uppercase;
			margin: 0;
			// margin: 0 auto;

		}
		.btn:hover {
			color: $primarycolor_accentlight;
		}
	}

}




/*
Navigation Styling
*/

.navbar {
	border: none;
	border-radius: 0px;
	background-color: $primarycolor;
	color: $primarycolor_light;
	width: 100%;
}

.navbar-brand {
	margin-right: 50px;
}

.navbar-default .navbar-brand {
	color: $primarycolor_light;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .99rem;
}

.navbar-btn {
	background-color: $primarycolor_accentdark;
	border: none;
	margin-left: 20px;
	padding-right: 15px;
	padding-left: 15px;
	color: $primarycolor_light;
	letter-spacing: 2px;
}

#logout-button {
	margin-right: 15px;
}

.form-control.search-all-movies {
	font-size: 1.1rem;
}


/*
Filter Styling
*/

.btn-default {
	background-color: $primarycolor;
	border: none;
	margin-left: 20px;
	padding-right: 15px;
	padding-left: 15px;
	color: $primarycolor_light;
	letter-spacing: 2px;
}

.btn:focus, .btn:hover, .btn-default:focus, .btn-default:hover {
	color: $primarycolor_light;
}

.btn-default:focus, .btn-default:hover {
	color: $primarycolor_light;
	background-color: $primarycolor_accentdark;
}

/*
Movie poster styling
*/

.poster-display-unit {
	margin-bottom: 50px;
	.poster {
		margin-bottom: 10px;
	}
}
.poster-controls {
	min-height: 35px;
	opacity: .9;
	font-size: .9em;
	text-transform: uppercase;
}

//Filter buttons in particular
#filters {
	margin-bottom: 25px;
	button:not(:first-child) {
		border-left: 3px solid white;
	}
}

//This is to put the X over the image of the poster (hopefully)
.poster-display-unit {
   position: relative;
}

.delete-button {
   color: white;
   font-size: 1.25rem;
}

.x-background {
   position: absolute;
   top: 5px;
   right: 20px;
   background-color: black;
   border-radius: 50%;
   height: 22px;
   width: 22px;
   padding-left: 7px;
   padding-top: 1px;
   opacity: .7;
}

.behind {
	position: absolute;
    color: $primarycolor_light;
    top: 20px;
    right: 20px;
    z-index: -1;
}

#all-user-title {
	margin-top: 0px;
	color: $primarycolor_light;
}

.myposter, .poster {
   min-height: 250px;
   h3 {
   	position: absolute;
    color: $primarycolor_light;
    top: 25px;
    right: 20px;
   }

   img {
   	max-height: 250px;
   }
}

.pull-right {
	padding-bottom: 7px;
}

// Modal Styling

.sizemodal {
	font-size: 1.8em;
}

// //This is to try and hide any buttons for movies already watched { Noice! - Andri }
// button[watched="true"] {
//   display: none;
// }

// div[watched="false"] {
//   display: none;
// }

//Buttons originally broke at 590px
@media screen and (max-width: 767px) {
	.all-title-container {
		text-align: center;
	}

	#filters {
		button {
			display: block;
			width: 100%;
		}
		button:first-child {
			border-radius: 15px 15px 0 0;
		}
		button:last-child {
			border-radius: 0 0 15px 15px;
		}
	}

	#filters button:not(:first-child) {
		border: none;
	}

	.poster-display-unit {
		clear: both;
	}

	.myposter, .poster {
   min-height: 250px;
   h3 {
   	position: absolute;
    color: $primarycolor_light;
    top: 25px;
    right: 20px;
   }

   img {
   	width: 100%;
   	max-height: 800px;
   }
	}

}

