{{#each posterListings}}
<div class="col-xs-4 poster-display-unit">
	<div class="poster">
		<img id="{{@key}}" key="{{@key}}" src="{{Poster}}" height="300px">
		<span class="glyphicon glyphicon-trash"></span>
	</div>
	<button id="{{@key}}" class="movie-add btn btn-default">Add</button>
</div>
{{/each}}