{{#each MovieLibrary}}
<div class="col-xs-4" key="{{@key}}">
	<div class="poster">
		<img src="{{poster}}">
		<span class="glyphicon glyphicon-trash"></span>
	</div>
	<button class="movie-add">Add</button>
	<button class="movie-watch">Watch</button>
	<div class="stars">
		<label class="radio-inline"><input type="radio" name="rating" value="1"><span class="glyphicon glyphicon-star-empty"></span></label>
		<label class="radio-inline"><input type="radio" name="rating" value="2"><span class="glyphicon glyphicon-star-empty"></span></label>
		<label class="radio-inline"><input type="radio" name="rating" value="3"><span class="glyphicon glyphicon-star-empty"></span></label>
		<label class="radio-inline"><input type="radio" name="rating" value="4"><span class="glyphicon glyphicon-star-empty"></span></label>
		<label class="radio-inline"><input type="radio" name="rating" value="5"><span class="glyphicon glyphicon-star-empty"></span></label>
	</div>
</div>
{{/each}}